header {
  width: 100%;
  background-color: #fff;
}
header .header_center {
  margin-top: 30px;
  margin-bottom: 19px;
}
header .header_center .header_logo {
  float: left;
  width: 74px;
  margin-right: 7px;
}
header .header_center .header_logo > a > img {
  vertical-align: top !important;
}
header .header_center .header_right {
  float: right;
  position: relative;
  margin-top: 19px;
  z-index: 3;
}
header .header_center .header_right > img {
  border: 0 none;
  vertical-align: top;
}
section .reg_box .reg_left {
  float: left;
  width: 600px;
  text-align: center;
  padding-top: 50px;
}
section .reg_box .reg_left > img {
  width: 560px;
  border: 0 none;
  vertical-align: top;
  height: 360px;
}
section .reg_box .reg_right {
  float: left;
  width: 367px;
  height: 600px;
  background: url(../img/login_icon_list.png) 0 -115px no-repeat;
}
section .reg_box .reg_right .reg_ul {
  padding: 0 33px;
}
section .reg_box .reg_right .reg_ul .reg_h2 {
  padding-top: 23px;
  padding-bottom: 26px;
}
section .reg_box .reg_right .reg_ul .reg_h2 h2 {
  color: #F11D20;
  font-size: 22px;
  height: 38px;
  line-height: 38px;
  font-weight: bold;
  float: left;
}
section .reg_box .reg_right .reg_ul .reg_h2 .reg_tips {
  float: right;
  height: 38px;
  line-height: 38px;
  text-align: right;
  font-size: 12px;
  color: #8c8c8c;
}
section .reg_box .reg_right .reg_ul .reg_h2 .reg_tips > a {
  color: #c41f3a;
  text-decoration: none;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item {
  margin-bottom: 10px;
  position: relative;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item > .itxt {
  color: #333333;
  border: 1px solid #c8c8c8;
  height: 25px;
  line-height: 25px;
  padding-left: 6px;
  width: 293px;
  font-size: 12px;
  padding: 7px 0 7px 6px;
  vertical-align: middle;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item > .err_box {
  height: 23px;
  line-height: 23px;
  margin-bottom: 3px;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item > .err_box > .err_msg {
  color: #c4203b;
  padding: 0;
  position: relative;
  height: 23px;
  line-height: 23px;
  text-align: left;
  width: 275px;
  font-size: 12px;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item > .err_box > .err_msg > .icon_err {
  background: url(../images/login_icon_list.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  font-style: italic;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item4 > input {
  width: 157px !important;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item4 > a {
  margin-left: 11px;
  color: #444444;
  font-family: "宋体";
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  outline: 0;
  display: inline-block;
  background-color: #f6f6f6;
  border: 1px solid #c8c8c8;
  width: 117px;
  height: 38px;
  line-height: 38px;
  vertical-align: top;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item3 {
  overflow: hidden;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item3 > input {
  width: 157px !important;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item3 > img {
  width: 78px;
  height: 38px;
  border: 0 none;
  vertical-align: top;
  float: left;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item3 > a {
  display: block;
  color: #c41f3a;
  font-size: 12px;
  text-decoration: none;
  font-family: "宋体";
  padding-top: 15px;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item5 .login-btn > input {
  cursor: pointer;
  background: #F11D20;
  display: block;
  width: 310px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "宋体";
  font-weight: bold;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item5 .agree {
  padding-top: 5px;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item5 .agree > input {
  vertical-align: middle;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item5 .agree > label {
  color: #767676;
  padding-left: 6px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
section .reg_box .reg_right .reg_ul .reg_main .form > form .item5 .agree > label > span > a {
  color: #c41f3a !important;
}
footer {
  background-color: #fff;
  margin-top: 25px;
  overflow: hidden;
}
footer .footer_bottom {
  background-color: #fff;
}
footer .footer_bottom > div > p {
  padding-top: 10px;
  text-align: center;
  font-family: "宋体";
  color: #7e7e7e;
  line-height: 25px;
}
footer .footer_bottom > div > p:nth-child(1) > span {
  font-family: Arial;
  color: #666666;
}
footer .footer_bottom > div .footer_p {
  padding: 30px 0 40px 0;
}
footer .footer_bottom > div .footer_p img {
  border: 0;
  vertical-align: top;
  display: inline-block;
}
